<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header class="header" th:fragment="headerFragment">
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/header.css">
        <div onclick="location.href='/'" class="logo">알바계산</div>
        <div class="menus_wrap">
            <div class="menus">
                <span onclick="location.href='/'">홈</span>
                <div style="position: relative;">
                    <div class="commus">
                        <span>게시판</span>
                    </div>
                    <div class="commu"></div>
                </div>
                <span>채팅</span>
            </div>
            <div class="login">
                로그인
            </div>
        </div>

        <!-- 반응형 768px 미만 -->
        <div class="hamberger_wrap">
            <span class="llogin" onclick="location.href='/login'">로그인</span>
            <div class="hamberger">
                <box-icon id="ham" name='menu' color='white' size="lg" style="cursor: pointer;"></box-icon>
                <box-icon class="side_xBtn" name='x' color="white" size="lg"></box-icon>
            </div>
            <div class="side_menus">
                <div>
                    <p>홈</p>
                    <div style="display: flex;">
                        <p class="side_board">게시판</p>
                        <box-icon class="downBtn" name='chevron-down' size="lg" type='solid'
                            color='var(--bagic-color)'></box-icon>
                    </div>
                    <div class="side_commu"></div>
                    <p>채팅</p>
                </div>
                <div class="side_login">
                    <p>로그인</p>
                </div>
            </div>
        </div>
        <div class="dark"></div>

        <!-- 헤더 스크립트 -->
        <script>
            // 메뉴 불러오기
            fetch('http://localhost:8099/menu/list')
                .then(resp => resp.json())
                .then(result => {
                    console.log(result);
                    const commuDiv = document.querySelector('.commu');
                    const sideCommuDiv = document.querySelector('.side_commu');
                    result.forEach(menu => {
                        const pElement = document.createElement('p');
                        const pElement2 = document.createElement('p');
                        pElement.textContent = menu.menuname;
                        pElement2.textContent = menu.menuname;
                        pElement.onclick = () => { location.href = `/board/${menu.menuid}`; };
                        commuDiv.appendChild(pElement);
                        sideCommuDiv.appendChild(pElement2);
                    });
                });

            // 햄버거 클릭시
            document.querySelector('.hamberger').addEventListener('click', () => {
                document.querySelector('.side_menus').classList.toggle('side_menus_toggle');
                document.querySelector('.dark').classList.toggle('dark_on');
                document.querySelector('#ham').classList.toggle('discomedown');
                document.querySelector('.side_xBtn').classList.toggle('discomeon');
            });

            // 게시판 버튼 클릭시
            document.querySelector('.commus').addEventListener('click', () => {
                document.querySelector('.commu').classList.toggle('commu_toggle');
            });

            // 어둡게 변하는 부분 클릭시(사이드메뉴 바깥)
            document.querySelector('.dark').addEventListener('click', () => {
                document.querySelector('.hamberger').click();
                document.querySelector('.side_board').click();
            });

            document.querySelector('.side_board').addEventListener('click', () => {
                document.querySelector('.downBtn').classList.toggle('turnM180');
                document.querySelector('.side_commu').classList.toggle('side_commu_toggle');
                document.querySelector('.side_board').classList.toggle('side_board_toggle');
            });

            // 모든 클릭
            document.addEventListener('click', (e) => {
                // document.querySelector('.commu')!!!!!!커뮤열려있으면 닫기해야함
                const commuElement = document.querySelector('.commu');
                const computedStyle = window.getComputedStyle(commuElement);
                const visibility = computedStyle.getPropertyValue('visibility');

                if (visibility === 'visible' && !commuElement.contains(e.target)) {
                    document.querySelector('.commus').click();
                }
            });

        </script>
    </header>
</body>

</html>