:root{
    --css-variable : #3CB371; 
    --bagic-color : #3CB371;
}
.header{
    background-color: var(--css-variable);
    display: grid;
    grid-template-columns: auto 1240px auto;
    grid-template-rows: auto;
}
.headerCenter{
    order: 2;
    display: grid;
    grid-auto-flow: column;
}
.menu{
    > * {
        font-size: 25px;
        color: white;
    }
}
.logo {
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: auto auto;
    column-gap: 5px;
    text-decoration: none;
}
.menuLogo {
    height: 60px;
    display: none;
    position: relative;
    z-index: 1002;
    background-color: var(--bagic-color);
}
.menu > a {
    text-decoration: none;
    /* color: white; */
}
.logobtn:hover {
    cursor: pointer;
}

.comuMenus{
    position: absolute;
    background-color: white;
    color: var(--bagic-color);
    border: 1.5px dotted var(--bagic-color);
    padding: 5px;
    border-radius: 15px;
    z-index: 1002;
}

/* 반응형 사이드 메뉴 */
.sideMenus{
    overflow: hidden;
    position: fixed;
    right: 0;
    width: 0; height: 500px;
    float: right;
    transition: all 0.3s ease;
    background-color: white;
    border-bottom-left-radius: 30px;
    
}
.sideMenus > * {
    color: var(--bagic-color);
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
}
.sideMenus p {
    margin: 0;
    padding: 10px 0;
}
.sideComuBtn:hover, .anyMenuList {
    cursor: pointer;
}


/* 스크린 사이즈에 따라 반응형 */
@media screen and (max-width: 1239px) {
    .menu{
    }
    .header {
        grid-template-columns: auto;
    }
}
@media screen and (max-width: 1023px) {
    .menu{
        display: none;
    }
    .menuLogo {
        height: 52px;
        display: block;
        float: right;
    }
    .sideMenus {
        display: block;
    }
}

/* 애니메이션 설정 */
@media screen and (max-width: 767px) {
    .headerCenter {
        /* grid-template-columns: 1fr; */
    }
}
@keyframes logoAction {
    0% { transform: rotate(0deg);}
    33% { transform: rotate(-120deg);}
    66% { transform: rotate(-240deg);}
    100% { transform: rotate(-360deg); }
}
.logo > img {
    animation: logoAction 2s infinite;
}
.downBtn {
    transition: all 0.3s ease;
}
.turn-180 {
    transform: rotate(-180deg);
}
.act {
    display: none;
    height: 0;
    overflow: hidden;
}
.wowtest {
    height: 100%;
    > .sideComuMenus {
        display: block;
    }
}
.please {
    transition: max-height 0.3s ease;
    visibility: hidden;
    max-height: 0;
    background-color: whitesmoke;
}
.pleaseAct {
    visibility: visible;
    max-height: 300px;
}
.other {
    transition: all 0.3s ease;
}
.sideComuMenus {
    opacity: 0;
}
.sideComuMenusAct {
    transition: opacity 0.5s ease;
    visibility: visible;
    opacity: 1;
}