@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@font-face {
    font-family: 'NanumBrushScript';
    src: url('/font/NanumBrushScript-Regular.ttf') format('truetype');
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: var(--bagic-color);
    color: white;
}

.logo {
    font-size: 40px;
    font-weight: 800;
    font-family: 'NanumBrushScript', cursive;
    cursor: pointer;
    padding: 0 10px;
}

.menus_wrap {
    flex-grow: 1;
    display: flex;
}

.menus {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.menus span {
    cursor: pointer;
    font-size: 20px;
    padding: 0 10px;
    margin: 0 30px;
}

.login {
    float: right;
    font-size: 20px;
    padding: 0 20px;
    margin-left: 20px;
    cursor: pointer;
}

.hamberger_wrap {
    display: none;
}

.commus {
    position: relative;
}

.commu {
    position: absolute;
    visibility: hidden;
    max-height: 0px;
    left: 30px;
    background-color: white;
    font-size: 20px;
    color: var(--bagic-color);
    border: 1px solid var(--bagic-color);
    overflow: hidden;
    white-space: nowrap;
}

.commu p {
    cursor: pointer;
    margin: 20px 10px;
}

/* 반응형 */
@media screen and (max-width: 1023px) {
    .menus_wrap {
        display: none;
    }

    .hamberger_wrap {
        display: block;
        flex-grow: 1;
        display: flex;
        justify-content: right;
        height: 100%;
    }

    .hamberger {
        padding: 0 10px;
        display: flex;
        align-items: center;
        background-color: var(--bagic-color);
        z-index: 1002;
        cursor: pointer;
    }

    .side_menus {
        visibility: hidden;
        width: 0px;
        height: 600px;
        float: right;
        background-color: white;
        color: var(--bagic-color);
        font-size: 40px;
        font-weight: 800;
        position: fixed;
        top: 70px;
        z-index: 1002;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
    }

    .side_login {
        flex-grow: 1;
        display: flex;
        align-items: end;
    }
    .side_menus p {
        margin: 0;
        margin-bottom: 30px;
    }
    .llogin {
        font-size: 30px;
        display: flex;
        align-items: center;
        margin-right: 10px;
        cursor: pointer;
    }

    .side_xBtn {
        display: none;
    }

    .discomeon {
        display: block;
    }

    .discomedown {
        display: none;
    }
    .side_commu {
        visibility: hidden;
        max-height: 0px;
        white-space: nowrap;
    }

    .dark {
        display: none;
        position: absolute;
        top: 0px;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.5;
    }

    .dark_on {
        display: block;
        transition: opacity 0.3s ease;
    }
}

/* toggle */
.side_menus_toggle {
    visibility: visible;
    transition: all 0.3s ease;
    width: 500px;
}

.commu_toggle {
    visibility: visible;
    transition: all 0.3s ease;
    max-height: 300px;
}
.turnM180 {
    transform: rotate(-180deg);
    transition: all 0.3s ease;
}
.side_commu_toggle {
    visibility: visible;
    max-height: 600px;
    transition: all 0.3s ease;
    border-top: 1px solid #9A9A9A;
    border-bottom: 1px solid #9A9A9A;
}
.side_board_toggle {
    margin-bottom: 0;
}